* {
    box-sizing: border-box;
}
.video-grid {
    display: grid;
    width:50%;
    grid-template-columns: 360px 360px 360px 360px;    
    column-gap: 10px;
    row-gap: 10px;    
    margin-left:350px;
    margin-top:40px;
}
@media (max-width:699px) {
    .video-grid {
        grid-template-columns: 1fr;
        margin-left:115px;
    }   
}
@media (min-width:699px) and (max-width:1370px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1371px) and (max-width:1690px) {
    .video-grid  {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1691px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-preview {
    width:360px;
    height:342px;
    border:none;
}
.thumbnail-row {
    margin-bottom: 4px;
    position:  relative;
}
.video-info-grid {
    display:grid;
    grid-template-columns: 50px 1fr;
}
.thumbnail {
    width: 360px;
    height: 202px;
    position: relative;
    border:none;
}
.thumbnail:hover, .video-title:hover {
    cursor: pointer;
}
.video-runtime {
    z-index:100;
    background-color: black;
    color:white;
    position:absolute;
    bottom:10px;
    right:10px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}
.channel-picture {
    margin-top:5px;
    width:36px;
    padding-left:3px;
}
.profile-picture {
    width:36px;
    object-fit: contain;
    border-radius: 100%;
}
.video-info {
    width:100%;
    margin:5px 15px 0px 2px;
}
.video-title {
    font-size: 14px;
    width:285px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom:10px;
}
.video-title, .video-stats {
    line-height: 20px;
}
.video-author, .video-stats {
    font-weight:400;
    font-size: 14px;
    line-height: 13px;
    color:#606060;
}
.video-author {
    margin-bottom: 6px;
}
.video-link:hover, .video-link:link, .video-link:visited,
.video-link:active, .channel-link:hover, .channel-link:link,
.channel-link:visited, .channel-link:active {
    color:black;
    text-decoration: none;
}
.disclaimer-note {
    font-size: 28px;
    color:red;
    text-decoration: underline;
    margin-left:300px;
}
@media (max-width:699px) {
    .disclaimer-note{        
    font-size:18px;
    margin-left: 150px;
    }
}



